In [1]:
import pandas as pd
import vaex as vx
import dask.dataframe as dd

In [8]:
df = pd.read_csv("../data/bitstampUSD_1-min_data_2012-01-01_to_2019-03-13.csv")

In [10]:
df

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1325318220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1325318280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1325318340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1325318400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1325318460,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1325318520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1325318580,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1325318640,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1325318700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1325318760,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1325318820,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1325318880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1325318940,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1325319000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1325319060,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1325319120,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1325319180,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1325319240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1325319300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1325319360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1325319420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1325319480,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1325319540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1325319600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1325319660,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3778787,1552433460,3860.32,3860.32,3859.54,3859.54,0.629752,2431.025630,3860.289590
3778788,1552433520,3859.34,3859.34,3859.34,3859.34,0.007041,27.173613,3859.340000
3778789,1552433580,3858.19,3858.19,3858.19,3858.19,0.016772,64.709563,3858.190000
3778790,1552433640,3858.19,3858.19,3857.08,3857.08,0.012466,48.089135,3857.614252
3778791,1552433700,3856.73,3857.08,3856.14,3856.14,1.230034,4744.210880,3856.976906
3778792,1552433760,3857.17,3857.17,3857.17,3857.17,0.066257,255.563587,3857.170000
3778793,1552433820,3856.12,3856.12,3856.12,3856.12,0.072002,277.648352,3856.120000
3778794,1552433880,3854.42,3854.42,3849.99,3850.00,138.135274,531878.688990,3850.419039
3778795,1552433940,3850.00,3853.84,3850.00,3853.84,10.936630,42108.648691,3850.239829
3778796,1552434000,3854.78,3854.79,3854.78,3854.79,0.322611,1243.595574,3854.780556
3778797,1552434060,3854.80,3854.80,3854.80,3854.80,0.014415,55.566942,3854.800000
3778798,1552434120,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3778799,1552434180,3854.80,3855.29,3854.80,3855.29,0.129920,500.820476,3854.842750
3778800,1552434240,3855.29,3855.29,3854.97,3854.97,0.019966,76.972412,3855.085559
3778801,1552434300,3855.29,3855.29,3854.97,3854.97,1.310447,5051.734832,3854.970380
3778802,1552434360,3855.29,3856.54,3855.29,3856.54,1.066376,4112.212414,3856.248195
3778803,1552434420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3778804,1552434480,3856.54,3856.54,3855.47,3855.47,0.214193,826.017167,3856.423605
3778805,1552434540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3778806,1552434600,3856.72,3857.04,3856.72,3857.04,0.692213,2669.846798,3856.974818
3778807,1552434660,3857.21,3857.68,3857.21,3857.59,0.542492,2092.640913,3857.456219
3778808,1552434720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3778809,1552434780,3857.59,3858.17,3857.59,3858.17,0.297396,1147.336872,3857.939815
3778810,1552434840,3858.17,3858.17,3858.17,3858.17,0.048400,186.735428,3858.170000
3778811,1552434900,3857.80,3860.09,3857.59,3860.09,20.372100,78591.965693,3857.823469
3778812,1552434960,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3778813,1552435020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3778814,1552435080,3860.09,3861.05,3860.09,3861.05,0.378637,1461.770077,3860.606378
3778815,1552435140,3860.18,3860.18,3859.74,3859.74,1.056403,4077.863045,3860.139080
3778816,1552435200,3861.37,3862.01,3861.37,3861.95,0.198124,765.149137,3861.967464

In [4]:
from datetime import datetime

In [13]:
df.loc[:, "datetime"]=pd.to_datetime(df["Timestamp"], unit='s')

In [24]:
ohlc_dict = {
    'Open':'first',
    'High':'max',
    'Low':'min',
    'Close':'last',
    'Volume_(Currency)':'sum'
    }

In [14]:
df_d = df.set_index('datetime')

In [15]:
df_accept = df_d[datetime(2013, 8, 1):]

In [16]:
ddf = dd.from_pandas(df_accept)

ValueError: Exactly one of npartitions and chunksize must be specified.

In [42]:
vf.T

AttributeError: 'DataFrameArrays' object has no attribute 'T'

In [10]:
def resample_and_join(df, base_bins, *args):
    for a in args:

In [11]:
def data_set(df, length, how, num, base_bin='60min'):
    X = []
    df_resampled = df.resample(base_bin, how=how)
    for n in len(df_resampled):
        x_base = df_resampled.iloc[n:n+60]
        min_date = x_base.idxmin()
        max_date = x_base.idxmax()
        unit = df[min_date:max_date]
        x.append(x_base)
        x.append(unit.resample('1min', how=how))
        x.append(unit.resample('5min', how=how))
        x.append(unit.resmaple('15min', how=how))